.container {
  background-color: var(--softBg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width > 1440px) {
  .container {
    max-width: 1440px;
  }
}
