.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  height: 100%;
  margin: auto;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.address {
  font-size: 26px;
  font-weight: 700;
}

.inputGroup label {
  flex: 0 0 30%;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  text-align: start;
}

.inputGroup select,
.inputGroup input,
.inputGroup textarea {
  width: 70%;
  padding: 10px;
  background-color: #fff;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}

.inputGroup input {
  color: #000;
}

.upper {
  text-transform: uppercase;
}

.totalInputContainer,
.textarea:disabled {
  display: flex;
  align-items: center;
  background-color: #b0b0b4;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 8px;
}

.totalInputToken {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 8px;
}

.totalInputToken span {
  color: #000;
}

.inputGroup select {
  border: 1px solid #6d6d6d;
}

.totalInput {
  text-align: left;
  border: none;
  background: #b0b0b4;
  padding: 10px;
  flex: 1;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
}

.unit {
  padding: 10px;
  background: none;
  color: #fff;
}

.radio {
  width: 20px !important;
}

.radioGroup {
  width: 100%;
  display: flex;
  gap: 20px;
}

.qrImage {
  margin: 0 auto;
}

.payButton {
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  width: 251px;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.payButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.infoButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffa500;
  position: absolute;
  right: 10px;
  top: 35px;
}

.rateInfoContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 180px;
  color: #9c9c9c;
  font-size: 14px;
}

.rateLabel {
  margin-right: 5px;
  white-space: nowrap;
}

.rateValue {
  flex: 1;
  text-align: left;
}

.containerButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
