.heroSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 900px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--softBg);
  animation: fadeIn 1s ease-in-out forwards;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

#circle1 {
  width: 40rem;
  height: 20rem;
  border-radius: 9999px;
  animation: one 10s infinite;
  opacity: 0.9;
  filter: blur(9rem);
  background-color: var(--circle1Color);
  right: 140px;
}

@keyframes one {
  0% {
    right: 0rem;
    top: 0rem;
  }
  25% {
    right: 0rem;
    top: 7rem;
  }
  50% {
    right: 2rem;
    top: 15rem;
  }
  75% {
    right: 5rem;
    top: 10rem;
  }
  100% {
    right: 0rem;
    top: 0rem;
  }
}

#circle2 {
  width: 40rem;
  height: 20rem;
  border-radius: 9999px;
  opacity: 0.5;
  filter: blur(8rem);
  background-color: var(--circle2Color);
  animation: two 10s infinite;
  top: 390px;
  right: 140px;
}

@keyframes two {
  0% {
    left: 0rem;
    top: 0rem;
  }
  25% {
    left: 2rem;
    top: 1rem;
  }
  50% {
    left: 3.2rem;
    top: 5rem;
  }
  75% {
    left: 4rem;
    top: 10rem;
  }
  100% {
    left: 0rem;
    top: 0rem;
  }
}

#circle3 {
  width: 40rem;
  height: 10rem;
  border-radius: 9999px;
  opacity: 0.5;
  filter: blur(8rem);
  background-color: var(--circle3Color);
  top: 500px;
  right: 220px;
}

.content {
  position: relative;
  z-index: 1;
  top: 180px;
  right: 200px;
}

.content h1 {
  font-size: 64px;
  font-weight: 600;
  margin: 20px 0;
}

.content p {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
}

.paragraphContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.paragraphContainer span {
  border: 2px solid #00a4d8;
  height: 60px;
}

.paragraphContainer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  width: 52%;
  padding-left: 15px;
}

.buttonInfoContainer {
  position: relative;
  display: flex;
  align-items: start;
  margin-top: 20px;
  justify-content: space-between;
}

.viewServicesButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--softTextColor);
  color: var(--softBg);
  border: none;
  cursor: pointer;
  width: 205px;
  height: 50px;
  border-radius: 20px;
  font-size: 22px;
  transition: transform 0.1s ease, background-color 0.3s ease;
}

.viewServicesButton:hover {
  background-color: var(--viewServicesButtonHover);
  transform: scale(1.05);
  transition: transform 0.9s ease, background-color 0.3s ease;
}

.viewServicesButton:active {
  transform: scale(1.1);
}

.infoBox {
  /* padding: 10px; */
  width: 555px;
  position: absolute;
  color: var(--softTextColor);
  left: 750px;
}

.popular {
  display: flex;
  flex-direction: column;
}

.cryptoInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.cryptoInfo div {
  flex: 1;
  text-align: center;
}

@media (width < 1024px) {
  .content h1 {
    text-align: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@media (max-width: 768px) {
  .heroSection {
    height: auto;
    padding: 20px 0;
  }
  .content {
    right: 0;
    top: 0;
    text-align: center;
  }
  .content h1 {
    font-size: 36px;
  }
  .paragraphContainer {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .paragraphContainer span {
    width: 10%;
    height: 0.1px;
  }

  .paragraphContainer p {
    width: 60%;
    text-align: center;
    font-size: 14px;
  }

  .buttonInfoContainer {
    flex-direction: column;
    align-items: center;
  }
  .viewServicesButton {
    width: 25%;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .infoBox {
    position: static;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .cryptoInfo {
    justify-content: space-evenly;
  }
}
