.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  height: 60px;
  background-color: #1f046b;
  border-radius: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
