.container {
  max-width: 250px;
  position: relative;
}

.select {
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 30px;
  height: 42px;
  outline: 0;
  background-color: transparent;
  font-size: 1em;
  color: var(--softTextColor);
  border-radius: 12px;
  position: relative;
  transition: all 0.3s ease;
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.select::-ms-expand {
  display: none;
}

.select::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--softTextColor);
  pointer-events: none;
}

.select:hover {
  border-color: #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.select:focus {
  border-color: #0004ff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.select option {
  background-color: #fff;
  color: #333;
  padding: 10px;
}

.select option:hover,
.select option:focus {
  background-color: #f0f0f0;
  color: #007bff;
}

.select option:checked {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    position: fixed;
    top: 180px;
    right: 110px;
  }
}
