@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #161616;
}

.dark {
  --bg: #0f172a;
  --textColor: #fafafa;
  --softBg: #000000;
  --softTextColor: #f1f1f1;
  --circle1Color: #196520;
  --circle2Color: #19777d;
  --circle3Color: #ab2e2e;
}

.light {
  --bg: white;
  --textColor: #0d0d0d;
  --softBg: #fff;
  --softTextColor: #161616;
  --circle1Color: #b6f6bc;
  --circle2Color: #6adee5;
  --circle3Color: #f69a9a;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
}

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: var(--softBg);
  color: var(--softTextColor);
}

main {
  flex: 1;
  width: 100%;
  background-color: var(--softBg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @media (width < 1440px) {
  .containerMain {
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
  }
} */

@media (width < 1070px) {
  .containerMain {
    background-color: blue;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
}
