@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400&family=Roboto+Serif:wght@400&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  color: rgb(var(--foreground-rgb));
  background-image: radial-gradient(circle, #24262d, #020617);
}
/* 
.main {
  width: 100vw;
  display: flex;
  justify-content: center;
} */

.title {
  font-family: "Roboto Serif", serif;
  font-size: 2.5rem;
  color: #ee911d;
  margin-bottom: 2rem;
}

.currentPhrase {
  font-family: "Roboto Serif", serif;
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.3;
  white-space: pre-line;
}

.containerButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
