.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  /* box-shadow: 0 4px 6px rgb(255 255 255 /50%); */
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
}
