.container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
  background-color: var(--softBg);
  opacity: 0.9;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu > li {
  list-style: none;
}

.link {
  font-family: "Readex Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.75px;
  text-decoration: none;
  color: var(--softTextColor);
}

.button {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
