.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: 75%;
  margin: auto;
  gap: 35px;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputGroup label {
  font-weight: 500;
  white-space: nowrap;
}

.inputGroup input,
.totalInput {
  font-size: 20px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #aaaaaa;
  color: #000;
  border-radius: 10px;
  outline: none;
  width: 150px;
  text-align: center;
}

.buttonsGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.changeButton {
  font-size: 20px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #aaaaaa;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.changeButton:hover {
  background-color: #f0f0f0;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
