.title {
  font-weight: 600;
  font-size: 72px;
  color: var(--softTextColor);
  margin-bottom: 2rem;
}

.currentPhrase {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  color: var(--softTextColor);
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.3;
  white-space: pre-line;
}

.containerButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.buttonUser {
  background-color: #fff;
  color: #000;
}

.buttonLiquidator {
  background-color: #1f046b;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 450px) {
  .containerButtons {
    flex-direction: column;
  }
}
