.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  height: 100%;
  margin: auto;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.inputGroup label {
  flex: 0 0 30%;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  text-align: start;
}

.inputGroup select,
.inputGroup input,
.inputGroup textarea {
  width: 70%;
  padding: 10px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}

.totalInputContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #6d6d6d;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 8px;
}

.inputGroup select {
  border: 1px solid #6d6d6d;
}

.totalInput {
  border: none;
  background: none;
  padding: 10px;
  flex: 1;
  font-size: 20px;
  color: #000;
  border-radius: 5px;
}

.unit {
  padding: 10px;
  background: none;
  color: #000;
}

.textarea {
  background: none;
  border: none;
  color: #fff;
  border: 1px solid #6d6d6d;
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  width: calc(70% - 10px);
  padding: 10px;
  border-radius: 5px;
}

.radio {
  width: 20px !important;
}

.radioGroup {
  width: 100%;
  display: flex;
  gap: 20px;
}

.qrImage {
  margin: 0 auto;
}

.payButton {
  background: #1f046b;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  width: 251px;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.payButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.infoButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffa500;
  position: absolute;
  right: 10px;
  top: 35px;
}
.rateInfoContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 180px;
  color: #9c9c9c;
  font-size: 14px;
}

.rateLabel {
  margin-right: 5px;
  white-space: nowrap;
}

.rateValue {
  flex: 1;
  text-align: left;
}

.confirmationCode {
  margin-bottom: 20px;
}

.code {
  font-size: 35px;
  color: #ee911d;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.containerButtons {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalInput:disabled,
.select:disabled,
.textarea:disabled,
.radio:disabled {
  background-color: #b0b0b4;
  color: #fff;
  cursor: not-allowed;
}

.unit.disabled {
  color: #fff;
}
.totalInputContainer.disabled {
  background-color: #b0b0b4;
}
